//main: main.less
@media (max-width: 768px){
.offcanvas-sidebar-mobile .woodmart-sticky-sidebar-opener {
    display: none;
}
}
@media screen and (min-width: 1800px)  {
   #frequently h2, #card h2, #about h2 {
  
    left: 400px;
}
}

@media screen and (max-width: 750px) {
    
    /*LOGO*/
    .whb-scroll-stick .woodmart-logo img {
    padding-top: 0;
    transform: scale(2) translateY(15px);
}
    
    //Fix slide
    
    canvas{
        touch-action:auto !important;
    }
    
    .scene-nav{
        display: none;
    }
    
    /*Esquema por defecto para las secciones*/
    .grid {
		    display: initial;
        .col {
            width: 100%;
        }
        .col2 {
            width: 100%;
        }
        
        &.invertido{
            flex-wrap: wrap-reverse;
        } 
    }
    
.template-section a.btn {
    margin: 0 auto;
    display: block;
     margin-top: 25px;
    padding: 15px;
    margin-left: 10px!important;
    margin-right: 10px;
}


    .template-section {
        .col {
            min-height: auto;
            padding: 20px;
        }
		h1 {
			    font-size: 36px;
		}
        p, h2, h3 {
            text-align: center;
        }
    }
    
#about{
    .fondo {
    background: url(../img/drhlentillasmovil.png) no-repeat center;
       min-height: 535px;
}
     h2 {
    position: relative;
    text-align: center;
    top: 403px;
    left: inherit;
}
    }


#dental h2, #dental p, #dental .btn {
    position: relative;
    left: inherit;
}

#dental .fondo {
    background: url(../img/Capa%2021.png) no-repeat center;
       min-height: 510px;
}

#four h2 {
   
    left: inherit;
}

#frequently{
    .fondo {
    background: url(../img/Capa%2029.png) no-repeat center;
           min-height: 492px;
}
    h2 {
            top: 139px;
    left: inherit;
    }
    h3 {
    margin-top: 20px;
    }
}

#make h2, #make ol {
    position: relative;
    left: inherit;
}
#make img {
    position: relative;
    left: inherit;
}

#make .fondo {
    background: url(../img/Diapositiva1.png) no-repeat center;
        min-height: 435px;
}

#card{
    .fondo {
   
    min-height: 625px;
}
   h2.how {
   
    top: 498px;
    left: inherit;
}
    
}

#contacto{
    img {
    position: relative;
    /* right: 20px; */
    margin-top: 25px;
        &.email {
                margin-top: 0px; 
        }
}
    
}


#cardcont .fondo {
    background: url(../img/157.png) no-repeat right;
        min-height: 557px;
}
    
/*** ABOUT US **/
    
    #aboutus2 p {
    color: #009fb8;
    position: relative;
    max-width: 320px;
    margin: 20px auto;
        text-align: justify;
}
    #aboutus {
    background: url(../img/drhlentillasmovil.png) no-repeat center;
    padding: 230px 0;
}
    #aboutus h1 {
    position: relative;
    top: 230px;
    text-align: center;
        left: inherit;
    }
    #mission .prueba_col2 {

    left: initial;
    }
 
    #mission .fondo {
    background: url(../img/misionres.png) no-repeat left;
    position: relative;
        top: -603px;
    padding: 250px;
    }
    #mission p {
    position: relative;
    top: 67px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 488px;
    }
    #vision .prueba_col2 {
    padding: inherit;
    position: relative;
    right: inherit;
   
}
     #vision .fondo {
    background: url(../img/vision.png) no-repeat left;
    margin-left: inherit;
    padding: 270px;
    position: relative;
    top: -253px;
}
    #vision .missi {
    background-color: #006ba2;
    padding: 6px;
    /* max-width: 993px; */
    position: relative;
    /* top: 123px; */
    z-index: 1;
    top: -530px;
}
    #vision p {
    position: relative;
    top: 30px;
    max-width: 300px;
    text-align: justify;
    margin: 0 auto;
    color: #006ba2;
    position: relative;
    top: -492px;
    margin-bottom: -206px;
}
    #our .f1 {
    background: url(../img/drhmovil.png) no-repeat right;
    }
        #our .f2 {
    background: url(../img/dradrismovil.png) no-repeat right;
}
    #our .col2 {
    min-height: 492px;
    padding: 30px;
    }
    #our h3, #our p {
    color: white;
    position: relative;
    top: 286px;
    text-align: justify;
}
    #our .f3 {
    background: url(../img/drhjrmovil.png) no-repeat right;
}
    #values2 .f1 {
    background: url(../img/values1movil.png) no-repeat center;
}
    #values2 .f2 {
    background: url(../img/equipomovil.png) no-repeat center;
            min-height: 568px!important;
}
    #values2 .col {
    min-height: 557px;
}
    #values2 .f3 {
    background: url(../img/eficienciamovil.png) no-repeat center;
}
    #values2 h3.dos {
    position: relative;
    left: inherit;
}
    #values2 .f4 {
    background: url(../img/hermanitosHmovil.png) no-repeat left;
}
    #values2 h3 {
    text-shadow: 2px 2px black;
    color: white;
    position: relative;
    top: 462px;
    font-size: 40px;
}
   #contacto2 {
    padding: inherit;
    margin-top: inherit;
    background: url(../img/contmovil.png) no-repeat center;
       .col {
           padding: 29px 20px;
       }
       .prueba_col {
               position: relative;
    top: -186px;
       }
       
}
   #card2 .fondo {
    background: url(../img/card.png) no-repeat center;
    min-height: 600px;
    position: relative;
       top: -311px;
}
    #card2 .pay2 {
   
    left: inherit;
   
}
    #card2 h2 {
    
    left: inherit;
        font-size: 35px;
        span {
            font-size: 30px;
        }
}
    #card2 .prueba_col {
    min-height: auto;
    padding: initial;
    position: relative;
        top: 400px;
}
    #card2 li {
    top: 80px;
    max-width: 200px;
    color: #009fb8;
    font-family: 'Boxley';
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    list-style: none;
            left: 80px;
}
    #card2 ol {
            margin-bottom: -87px;
    }
    #alberto .colimg1 {
    width: 100%;
    z-index: 1;
    margin-top: -92px;
}
    #alberto .colimg2 {
   
    width: 100%;
 
    right: inherit;
}
    #santiago .colimg1 {
    z-index: 2;
    width: 100%;
    padding: initial;
}
    #santiago .colimg1 h2 {
    font-size: 35px;
    position: relative;
    left: inherit;
}
    #santiago .colimg1 .dr {
       margin-top: -77px;
    margin-left: auto;
    margin-right: auto;
    }
    #santiago .colimg1 p {
    text-align: justify;
    max-width: 300px;
    position: relative;
    left: inherit;
    margin: 0 auto;
    margin-bottom: 20px;
}
    #santiago .colimg2 {
   
    width: 100%;
    }
    #adriana .colimg2 {
   
    min-height: 247px;
    margin-top: -66px;
            width: 100%;
    }
    #adriana .colimg1 {
    z-index: 2;
    width: 100%;
    padding: initial;
}
    #adriana .colimg1 h2 {
    font-size: 35px;
    position: relative;
    left: inherit;
}
    #adriana .colimg1 p {
    text-align: justify;
    max-width: 333px;
    position: relative;
    left: inherit;
    margin: auto;
    margin-bottom: 62px;
}
    .woodmart-prefooter {
    background-color: #fff;
    padding-bottom: inherit;
}
    #treatments p {
    font-size: 1.6em;
    max-width: 300px;
    text-align: justify;
    margin: auto;
}
    #treatments {
       background: url(../img/thmovil.png) no-repeat center;
    padding: 175px 0;
}
    #treatments2 h2.dental {
    position: relative;
    left: inherit;
}
    #treatments2 h2 {
    position: relative;
    line-height: 1;
                top: 512px;
    font-size: 55px;
}
    #rege h2 {
    text-align: center;
    position: relative;
    top: 392px;
    font-size: 55px;
}
    #rege h2 span {
    font-size: 45px;
}
    #treatments2 .imp {
    max-width: 430px;
    /* text-align: center; */
    position: relative;
    left: inherit;
    min-height: 20px!important;
    top: -930px;
}
    #treatments2 .fondo {
    margin-top: 242px;
    background: url(../img/allon.png) no-repeat center;
}
    #treatments2 .prueba_col {
    background: url(../img/dmo.png) no-repeat center;
}
    #treatments2 .imp2 {
    max-width: 465px;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
    min-height: 20px!important;
    top: -194px;
    margin-bottom: -218px;
}
    #dentur h2.dental {
    position: relative;
    left: inherit;
    line-height: 37px;
}
    #dentur h2 {
    position: relative;
    line-height: 1;
    top: 467px;
    font-size: 75px;
}
    #dentur .imp {
          top: -927px;
    left: inherit;
    min-height: 20px!important;

    }
    #dentur .fondo2 {
    margin-top: 286px;
    background: url(../img/crown.png) no-repeat center;
}
    #dentur .imp2 {
    max-width: 465px;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
    min-height: 20px!important;
    margin-top: -243px;
    margin-bottom: 30px;
}
    #endo {
    padding: 248px 0;
    background: url(../img/endomovil.png) no-repeat center;
        h2 {
    text-align: center;
    position: relative;
    top: 208px;
    font-size: 55px;
}
}
    #composite h2.dental {
    position: relative;
    left: inherit;
}
    #composite .imp {
    
    left: inherit;
}
    #whitening {
    margin-top: -107px;
    padding: 132px 0;
    background: url(../img/whmovil.png) no-repeat center;
}
    #whitening h2 {
    text-align: center;
    position: relative;
    top: 132px;
    font-size: 65px;
}
    #rege2 p, #rege2 h2 {
    color: #009fb8;
    text-align: center;
    max-width: 300px;
    text-align: justify;
    margin: auto;
}
    #make2 h2, #make2 ol {
    position: relative;
    left: inherit;
}
    #make2 .fondo {
    background: url(../img/make2.png) no-repeat left;
    min-height: 549px;
}
    #learn {
    background: url(../img/azul.png) no-repeat center;
    padding: 37px 0;
        h2 {
    position: relative;
    left: inherit;
    top: 15px;
}
}
   
}